* {
    padding: 0;
    margin: 0
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    background: black;
}

.header,
.section {
    background: rgb(35, 195, 195);
    background: linear-gradient(0deg, rgba(35, 195, 195, 1) 0%, rgba(0, 250, 83, 1) 100%);
}

ul {
    gap: 25px;
}

header {
    padding: 50px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: white;
}

header nav ul li a:hover {
    border-bottom: 5px solid white;
}

header nav ul li.btn a,
.email .block button {
    background: rgb(85, 45, 165);
    padding: 10px 15px;
    border-radius: 5px;
}

/* Основная часть */

.home,
.about {
    height: 750px;
    padding-bottom: 200px;
    position: relative;
}

.home-info,
.about-info {
    padding-top: 70px;
}

.home-info h1,
.about-info h1 {
    font-size: 50px;
    width: 750px;
}

.home-info p,
.about-info p {
    width: 700px;
    font-size: 30px;
    font-weight: 500;
    line-height: 170%;
}

.home-info .btn,
.about-info .btn {
    display: block;
    background: yellow;
    color: white;
    margin-top: 20px;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: all 500ms ease;
    font-size: 20px;
}

.home-info .btn:hover,
.about-info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.home img,
.about img {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    padding-top: 80px;
}

/* bestlocations */
.thebestcity {
    padding-top: 50px;
    /* отступ от прошлого раздела */
}

.thebestcity h3 {
    font-weight: 700;
    font-size: 35px;
}

.thebestcity .see-all,
.locations .see-all {
    color: white;
    background: black;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    transform: all 500ms ease;
}

/* настройки кнопок */
.thebestcity .see-all:hover,
.locations .see-all:hover {
    transform: scale(1.1);
}

/* настройки кнопок при наведении */

.city {
    display: flex;
    margin-top: 90px;
}

.city .block {
    margin: 10px;
}

.city .block img {
    width: 500px;
    height: 200px;
}

.city .block span {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

/* features */

.features {
    background: url('../img/black.jpg') no-repeat center center;
    background-size: cover;
    height: 1000px;
}

.features .container .info .block img {
    width: 200px;
    height: 200px;
}

.features h3 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.features .info {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block p {
    margin-top: 25px;
}

/* locations */

.locations {
    padding: 100px 0;
    width: 1440px;
    height: 1000px;
}

.locations h3 {
    font-size: 30px;
    text-align: center;
}

.locations p {
    margin: 30px;
    text-align: center;
}

/* размеры картинок  */

.locations .images img {
    width: 350px;
    height: 350px;
    margin: 25px;
}

.locations .images {
    display: block;
    justify-content: center;
}

.locations .images .image1,
.locations .images .image2 {
    display: flex;
    justify-content: center;
}

.locations .see-all {
    margin-right: 670px;
    margin-top: 50px;
}

/* email */
.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: yellow;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h1 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: white;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
}

.email .block input::placeholder {
    color: grey;
}


.email .block button:hover {
    background: red;
}


.email .block button {
    cursor: pointer;
    border: none;
    padding: 15px 15px;
    color: white;
}

/* about us */
.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.work {
    padding: 50px;
    padding-bottom: 100px;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 50px;
    padding: 50px 35px;
    background: blueviolet;
}

.work .blocks .block .badge {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 25px;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block #n1 {
    background: lightgreen;
}

.work .blocks .block #n2 {
    background: blue;
}

.work .blocks .block #n3 {
    background: red;
}

.header .work #title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1500;
}

/* map */
.map h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}

.map p {
    text-align: center;
}

.map img {
    position: relative;
    height: 100vh;
    border-radius: 5%;
}

.feedback {
    padding: 70px 0;
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback form {
    margin: 100px auto;
    width: 700px;
}

.feedback form .inline .names .FirstName,
.LastName {
    width: 50%;
}

.feedback form .inline .names {
    display: flex;
}

.feedback form label {
    font-size: 14px;
    color: grey;
}

.feedback form input,
.feedback form textarea {
    background: white;
    border-radius: 10px;
    border: 0.6px solid grey;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 96%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form button {
    background: yellow;
    border-radius: 9px;
    border: 0;
    float: right;
    cursor: pointer;
    color: white;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background-color: red;
}

/* footer */
footer {
    color: white;
    background: black;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 20px;
    opacity: 0.8;
}

footer>p {
    text-align: center;
    margin-top: 50px;
}